.Todocreate {
    display: flex;
    justify-content: center;
}

input {
    border: none;
    border-radius: 13px 0 0 13px;
    padding: 6px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 0 13px 13px 0;
    padding: 9px 7px 7px 7px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 10px;
    font-family: sans-serif;
}